<div class="row components_container">
  <div class="col-md-3">
    <div class="form_header text-center">
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Componentes
    </div>
    <%= form_for([@system, @component], remote: true) do |f| %>
        <div class="form-group">
          <%= f.label :name, 'Nombre' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-md-9">
    <div class="component_list">
      <div class="row table_head">
        <div class="col-md-4">Nombre</div>

        <div class="col-md-6">Administración</div>
        <div class="col-md-2">Partes</div>
      </div>
      <%= render @system.components %>
    </div>
  </div>
</div>
<div id="modal_container"></div>