<div class="row">
  <div class="col-md-4">
    <%= form_for @aircraft, remote: true do |f| %>
      <div class="form-group">
        <%= f.label :manufacturer, 'Fabricante' %>
        <%= f.text_field :manufacturer, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :trade_name, 'Nombre comercial' %>
        <%= f.text_field :trade_name, class: 'form-control' %>
      </div>
      <%= f.submit 'Guardar' %>
    <% end %>
  </div>
  <div class="col-md-8">
    <ol class="breadcrumb">
      <li><%= link_to 'Nivel 1', '#' %></li>
      <li><%= link_to 'Nivel 2', '#' %></li>
      <li class="active">Activo</li>
    </ol>
    <table class="table">
      <thead>
        <tr>
          <th>Fabricante</th>
          <th>Nombre Comercial</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <%= render  @aircrafts %>
      </tbody>
    </table>
  </div>
</div>
<div id="modal-container"></div>


