<div class="row">
  <div class="col-md-8 form_container">
    <div class="form_header text-center">
      <i class="fa fa-truck" aria-hidden="true"></i> Movimiento de entrada
    </div>
    <%= form_for @incoming_tool, remote: true do |f| %>
        <div class="row">
          <div class="col-md-12">
            <%= f.label :incoming_tool_type_id, 'Movimiento' %><span class="label label-danger">R</span>
            <%= f.collection_select :incoming_tool_type_id, IncomingToolType.all, :id, :movement_type, {}, {class: 'form-control'} %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group ">
            <br><label for="search_input">Buscar herramienta</label>
            <input class="typeahead form-control" type="text" id="search_input" placeholder="Numero de parte o descripcion">
          </div>
        </div>
        <div class="row table_header">
          <div class="col-md-2">Parte</div>
          <div class="col-md-2">Descripcion</div>
          <div class="col-md-2" style="padding-left: 0px;">Serie</div>
          <div class="col-md-4" style="padding-left: 0px;">Ubicación</div>
          <div class="col-md-2"></div>
        </div>
        <div class="nano">
          <div class="tool_details content"></div>
        </div>
        <%= f.submit 'Guardar', class:'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="table_container">
      <div class="row table_head">
        <div class="col-md-7">Documento</div>
        <div class="col-md-5">Opciones</div>
      </div>
      <div class="nano">
        <div class="content table_body">
          <%= render @incoming_tools %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal_container"></div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    var motor = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace(['part_number','description']),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: { url: '/incoming_tools/get_incoming_tools.json', ttl: 0, cache: false}
    });
    $('.typeahead').typeahead({
          highlight: true,
          minLength: 1
        },
        {
          source: motor.ttAdapter(),
          templates: {
            suggestion: function (data) {
              return "<div class='row'><div class='col-md-6'>"+data.part_number+"</div><div class='col-md-6'>"+data.description+"</div></div>"
            },
            header: function () {
              return "<div class='row data_header'><div class='col-md-6'>Numero de parte</div><div class='col-md-6'>Descripcion</div></div>"
            },
            notFound: function () {
              return "<div class='row text-center data_not_found'><span class='glyphicon glyphicon-exclamation-sign'></span> Producto no encontrado</div> "
            }
          }
        }).on('typeahead:select', function(ev, suggestion) {
      $(this).typeahead('val','');
      $.ajax({
        method: "GET",
        url: "/incoming_tools/"+suggestion.id+"/get_incoming_tool_field",
        dataType:'script'
      });
    });
    $(".nano").nanoScroller({ scroll: 'bottom' });
    $('.tool_details ').on('click', 'button', function () {
      $(this).parent().parent().remove();
    });


  });
</script>
