<div class="row table_row">
  <div class="col-md-2 center_content overflowed">
    <%= link_to '#location_'+dom_id(product) do %>
        <i class="fa fa-map-marker" aria-hidden="true"></i> <%= product.description %>
    <% end %>
  </div>
  <div class="col-md-2 serial_number">
    <input type="text" name="incoming_details[][serial_number]" class="form-control">
  </div>
  <div class="col-md-1 location">
    <input type="text" name="incoming_details[][quantity]" class="form-control">
  </div>
  <div class="col-md-2 date-container location">
    <input type="text" name="incoming_details[][expiration_date]" class="form-control datepicker">
  </div>
  <div class="col-md-1 location">
    <input type="text" name="incoming_details[][aisle]" class="form-control">
  </div>
  <div class="col-md-1 location">
    <input type="text" name="incoming_details[][section]" class="form-control">
  </div>
  <div class="col-md-1 location">
    <input type="text" name="incoming_details[][level]" class="form-control">
  </div>
  <div class="col-md-1 location">
    <input type="text" name="incoming_details[][position]" class="form-control">
  </div>
  <input type="hidden" name="incoming_details[][product_id]" value="<%= product.id %>">
  <div class="col-md-1 text-center location">
    <button type="button" class="btn btn-danger delete_row">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
  <div id="location_<%= dom_id(product) %>" class="modal fade modal_delete" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <i class="fa fa-map-marker" aria-hidden="true"></i> Ubicación
        </div>
        <div class="modal-body">
          <% if product.product_quantities.empty?%>
              <p>Producto nuevo</p>
          <% else %>
              <p><%= product.product_quantities.first.location %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>








