<!--<div class="row">-->
  <!--<div class="col-md-6">-->
    <!--<%= product.description %>-->
  <!--</div>-->
<!--</div>-->

<div class="row">
  <div class="col-md-4">
    <%= product.description %>
  </div>
  <div class="col-md-4">
    <!--<label for="<%= dom_id(product)%>_quantity">Cantidad</label>-->
    <input type="text" name="incoming_details[][quantity]" id="<%= dom_id(product)%>_quantity" class="form-control">
  </div>
  <div class="col-md-4">
    <!--<label for="<%= dom_id(product)%>_date">Fecha de expiración</label>-->
    <input type="date" name="incoming_details[][expiration_date]" id="<%= dom_id(product)%>_date" class="form-control">
  </div>
  <!--<span class="glyphicon glyphicon-trash"></span>-->
  <input type="hidden" name="incoming_details[][id]" value="<%= product.id %>">
</div>








