<div class="row">
  <div class="col-md-7">
    <%= form_for @incoming_movement do |f| %>
        <div class="row">
          <div class="col-md-4">
            <%= f.label :incoming_movement_type_id, 'Tipo de movimiento' %>
            <%= f.collection_select :incoming_movement_type_id, IncomingMovementType.all, :id, :movement_type, {}, {class: 'form-control'} %>
          </div>
          <div class="col-md-4">
            <%= f.label :supplier_id, 'Proveedor' %>
            <%= f.collection_select :supplier_id, Supplier.all, :id, :supplier, {}, {class: 'form-control'} %>
          </div>
          <div class="col-md-4">
            <label for="search_input">Buscar producto</label> <br>
            <input class="typeahead form-control" type="text" id="search_input">
          </div>
        </div>
        <div class="product_details">
          <div class="row">
            <div class="col-md-4">Descripcion</div>
            <div class="col-md-4">Cantidad</div>
            <div class="col-md-4">Expiracion</div>
          </div>
        </div>
        <%= f.submit %>
    <% end %>


  </div>
  <div class="col-md-5 table_container">
    <div class="row">
      <div class="col-md-6">Documento</div>
      <div class="col-md-6">Administrar</div>
    </div>
    <%= render @incoming_movements %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
    var motor = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace(['part_number','description']),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: { url: '/products/get_products.json', ttl: 0, cache: false}
    });
    $('.typeahead').typeahead({
      highlight: true,
      minLength: 1
    },
    {
      displayKey: 'description',
      source: motor.ttAdapter()
    }).on('typeahead:select', function(ev, suggestion) {
      console.log(ev);
      $(this).typeahead('val','');
      $.ajax({
        method: "GET",
        url: "/incoming_movements/"+suggestion.id+"/new_field",
        dataType:'script'
      });
    });
  });
</script>
