<% history_report.each do |history_report| %>
    <div class="row">
      <div class="col-md-3 item_crud overflowed"><%= history_report.folio %></div>
      <div class="col-md-2 item_crud overflowed"><%= history_report.created_at.to_date %></div>
      <div class="col-md-5">
        <% if history_report.class == BorrowedTool %>
            <% history_report.borrowed_quantities.each do |detail| %>
                <div class="row inner_row">
                  <div class="col-md-6 overflowed"><%= detail.serial_number %></div>
                  <div class="col-md-6 overflowed"><%= detail.tool_quantity.tool.description %></div>

                </div>
            <% end %>
        <% else %>
            <% history_report.returned_quantities.each do |detail| %>
                <div class="row inner_row">
                  <div class="col-md-6 overflowed"><%= detail.serial_number %></div>
                  <div class="col-md-6 overflowed"><%= detail.tool_quantity.tool.description %></div>
                </div>
            <% end %>
        <% end %>
      </div>
      <div class="col-md-2 item_crud overflowed"><%= User.find(history_report.user_id).name %></div>
    </div>
<% end %>