<div class="row">
  <div class="col-md-4">
    <%= form_for @product_unit, remote: true do |f| %>
      <%= f.label :name, 'Nombre' %> <br>
      <%= f.text_field :name %> <br>
      <%= f.submit 'Guardar' %> <br>
    <% end %>
  </div>
  <div class="col-md-8 table_container">
    <div class="row">
      <div class="col-md-6">Unidad</div>
      <div class="col-md-6">Administrar</div>
    </div>
    <%= render @product_units %>
  </div>
</div>
<div class="modal_container"></div>