<div id="modal-bug" class="modal fade modal_bug" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <i aria-hidden="true" class="fa fa-bug"></i> Reporte
      </div>
      <div class="modal-body">
        <%= form_for bug_report, remote: true do |f| %>
            <div class="form-group">
              <%= f.label :report, 'Contenido' %>
              <%= f.text_area :report, class: 'form-control' %>
            </div>
            <%= f.hidden_field :user_id, value: current_user.id %>

            <%= f.submit 'Guardar', class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>