<%= form_for product, html: {multipart: true} do |f| %>
    <div class="form-group">
      <%= f.label :part_number, 'Numero de parte'%> <span class="label label-danger">Requerido</span>
      <%= f.text_field :part_number, class: 'form-control', :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :description, 'Descripción' %> <span class="label label-danger">Requerido</span>
      <%= f.text_field :description, class: 'form-control', :required => true  %>
    </div>
    <div class="form-group">
      <%= f.label :specification, 'Especificación' %>
      <%= f.text_area :specification, class: 'form-control' %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :product_unit_id, 'Unidad' %> <span class="label label-danger field_required">Requerido</span>
          <%= f.collection_select :product_unit_id, ProductUnit.all, :id, :name, {}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :procurement_lead_time, 'Procuramiento' %>
          <%= f.number_field :procurement_lead_time, class: 'form-control', :placeholder => 'Dias', :min => 1, :step => 1  %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :maximum, 'Maximo' %>
          <%= f.number_field :maximum, class: 'form-control', :min => 1, :step => 1 %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :minimum, 'Mínimo' %>
          <%= f.number_field :minimum, class: 'form-control', :min => 1, :step => 1  %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :optimum, 'Optimo' %>
          <%= f.number_field :optimum, class: 'form-control', :min => 1, :step => 1  %>
        </div>
      </div>
    </div>
    <% if product.image_product.exists? %>
        <div class="form-group text-center">
          <%= f.label :edit, id: 'image_label_edit' do  %>
              <span class="glyphicon glyphicon-camera"></span> Cambiar imagen
          <% end %>
          <%= f.file_field :image_product, class: 'input_file_edit', id: 'product_edit' %>
          <%= image_tag product.image_product.url(:medium), id: 'image_preview_edit' %>
          <div id="deselect_image_edit">
            <span class="glyphicon glyphicon-trash"></span>
          </div>
        </div>
    <% else %>
        <div class="form-group  text-center">
          <%= f.label :edit, id: 'image_label_edit' do %>
              <span class="glyphicon glyphicon-camera"></span> Elegir una imagen
          <% end %>
          <%= f.file_field :image_product, class: 'input_file_edit', id: 'product_edit' %>
          <%= image_tag('oil.png', id:'image_preview_edit', alt: 'Herramienta') %>
          <div id="deselect_image_edit"></div>
        </div>
    <% end %>
    <input type="hidden" name="eliminado" value="no" id="opcion">
    <%= f.submit 'Guardar', class: 'btn btn-primary btn-sm' %>
<% end %>

<script>
  $(document).ready(function () {
    function readEditURL(input) {
      if(input.files && input.files[0]){
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#image_preview_edit').attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
    $('.input_file_edit').change(function () {
      readEditURL(this);
      $('#deselect_image_edit').html('<span class="glyphicon glyphicon-trash"></span>');
      $('#image_label_edit').html('<span class="glyphicon glyphicon-camera"></span>'+' Cambiar imagen');
    });

    $('#deselect_image_edit').click(function () {
      $('#product_edit').replaceWith($('#product_edit').val('').clone(true));
      $('#image_preview_edit').attr('src', '<%= image_path 'oil.png' %>');
      $('#deselect_image_edit').html('');
      $('#image_label_edit').html('<span class="glyphicon glyphicon-camera"></span>  Elegir imagen');
      $('#opcion').attr('value','si');
    })
  });
</script>