<%= form_for product do |f| %>
    <div class="form-group">
      <%= f.label :part_number, 'Numero de parte'%> <span class="label label-danger">Requerido</span>
      <%= f.text_field :part_number, class: 'form-control', :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :description, 'Descripción' %> <span class="label label-danger">Requerido</span>
      <%= f.text_field :description, class: 'form-control', :required => true  %>
    </div>
    <div class="form-group">
      <%= f.label :specification, 'Especificación' %>
      <%= f.text_area :specification, class: 'form-control' %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :product_unit_id, 'Unidad' %> <span class="label label-danger field_required">Requerido</span>
          <%= f.collection_select :product_unit_id, ProductUnit.all, :id, :name, {}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :procurement_lead_time, 'Procuramiento' %>
          <%= f.number_field :procurement_lead_time, class: 'form-control', :placeholder => 'Dias', :min => 1, :step => 1  %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :maximum, 'Maximo' %>
          <%= f.number_field :maximum, class: 'form-control', :min => 1, :step => 1 %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :minimum, 'Mínimo' %>
          <%= f.number_field :minimum, class: 'form-control', :min => 1, :step => 1  %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :optimum, 'Optimo' %>
          <%= f.number_field :optimum, class: 'form-control', :min => 1, :step => 1  %>
        </div>
      </div>
    </div>
    <%= f.submit 'Guardar', class: 'btn btn-primary btn-sm' %>
<% end %>
