<div id="modal" class="modal fade modal_show" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Mostrar
      </div>
      <div class="modal-body">
        <strong>Numero de parte: </strong><%= product.part_number %> <br>
        <strong>Descripcion: </strong><%= product.description %> <br>
        <strong>Especificación: </strong><%= product.specification %> <br>
        <strong>Unidad: </strong><%= product.product_unit.name %> <br>
        <strong>Tiempo de procuramiento: </strong><%= product.procurement_lead_time %> Dias <br>
        <strong>Máximo: </strong><%= product.maximum %> <br>
        <strong>Mínimo: </strong><%= product.minimum %> <br>
        <strong>Optimo: </strong><%= product.optimum %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>