<div id="modal" class="modal fade modal_show" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Mostrar
      </div>
      <div class="modal-body text-center">
        <strong>Numero de parte</strong>
        <p><%= product.part_number %></p>
        <strong>Descripcion</strong>
        <p><%= product.description %></p>
        <strong>Especificación</strong>
        <p><%= product.specification %></p>
        <strong>Unidad</strong>
        <p><%= product.product_unit.name %></p>
        <strong>Tiempo de procuramiento</strong>
        <p><%= product.procurement_lead_time %> Dias</p>
        <strong>Máximo</strong>
        <p><%= product.maximum %></p>
        <strong>Mínimo</strong>
        <p><%= product.minimum %></p>
        <strong>Optimo</strong>
        <p><%= product.optimum %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>