<div class="row">
  <div class="col-md-5 form_container">
    <div class="form_header text-center">
      <i class="fa fa-book" aria-hidden="true"></i> Productos
    </div>
    <!--<div class="nano">-->
      <!--<div class="content">-->
        <%= form_for @product, html: {multipart: true} do |f| %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :part_number, 'Numero de parte'%> <span class="label label-danger">R</span>
                  <%= f.text_field :part_number, class: 'form-control', :required => true %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :description, 'Descripción' %> <span class="label label-danger">R</span>
                  <%= f.text_field :description, class: 'form-control', :required => true  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :specification, 'Especificación' %>
              <%= f.text_area :specification, class: 'form-control' %>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :product_unit_id, 'Unidad' %> <span class="label label-danger field_required">R</span>
                  <%= f.collection_select :product_unit_id, ProductUnit.all, :id, :name, {}, {class: 'form-control'} %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :procurement_lead_time, 'Procuramiento' %>
                  <%= f.number_field :procurement_lead_time, class: 'form-control', :placeholder => 'Dias', :min => 1, :step => 1 %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :maximum, 'Maximo' %>
                  <%= f.number_field :maximum, class: 'form-control', :min => 1, :step => 1 %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :minimum, 'Mínimo' %>
                  <%= f.number_field :minimum, class: 'form-control', :min => 1, :step => 1 %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label :optimum, 'Optimo' %>
                  <%= f.number_field :optimum, class: 'form-control', :min => 1, :step => 1 %>
                </div>
              </div>
            </div>
            <div class="form-group  text-center">
              <%= f.label :image_product, id: 'image_label' do %>
                  <span class="glyphicon glyphicon-camera"></span> Elegir una imagen
              <% end %>
              <%= f.file_field :image_product, class: 'input_file' %>
              <%= image_tag('oil.png', id:'image_preview', alt: 'Herramienta') %>
              <div id="deselect_image"></div>
            </div>
            <%= f.submit 'Guardar', class: 'btn btn-primary btn-sm' %>
        <% end %>
      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="col-md-7">
    <div class="table_container">
      <div class="row table_head">
        <div class="col-md-2"><%= sortable 'part_number', 'PN' %></div>
        <div class="col-md-4"><%= sortable 'description', 'Description' %></div>
        <div class="col-md-6">Administrar</div>
      </div>
      <div class="nano">
        <div class="content">
          <%= render @products %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal_container"></div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    function readURL(input) {
      if(input.files && input.files[0]){
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#image_preview').attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
    $('.input_file').change(function () {
      readURL(this);
      $('#image_label').html('<span class="glyphicon glyphicon-camera"></span>'+' Cambiar imagen');
      $('#deselect_image').html('<span class="glyphicon glyphicon-trash"></span>');
    });
    $('#deselect_image').click(function () {
      $('#tool_image').replaceWith($('#tool_image').val('').clone(true));
      $('#image_preview').attr('src', '<%= image_path 'oil.png' %>');
      $('#deselect_image').html('');
      $('#image_label').html('<span class="glyphicon glyphicon-camera"></span>  Elegir imagen');
      $('#file_name').html('');
    });
  });
</script>