<div class="row my_breadcrumb"  >
  <ul id="breadcrumb">
    <li>
      <%= link_to aircrafts_path do %>
          <%= @scheduled_inspection.system.aircraft.trade_name %>
      <% end %>
    </li>
    <li>
      <%= link_to aircraft_systems_path(@scheduled_inspection.system.aircraft) do %>
          <%= @scheduled_inspection.system.title %>
      <% end %>
    </li>
    <li>
      <%= link_to system_scheduled_inspections_path(@scheduled_inspection.system) do %>
          Lista de inspecciones
      <% end %>
    </li>
    <li>
      <%= link_to '' do %>
          Edicion
      <% end %>
    </li>
  </ul>
</div>
<%= form_for ([@system, @scheduled_inspection]) do |f| %>
    <div class="row">
      <div class="col-md-12">
        <div class="general_data_header">
          DATOS GENERALES
        </div>
        <div class="general_data">
          <div class="form-group">
            <%= f.label :name, 'Nombre de la inspección' %>
            <%= f.collection_select(:name, @priority_inspections, :name, :name, {}, class: 'form-control selectpicker show-tick') %>
          </div>
          <div class="form-group">
            <%= f.label :inspection_ids, 'Inspecciones previas' %>
            <%= f.collection_select('inspection_ids',  Inspection.where('name != ? ', 'Nuevo'), :id, :name, {}, {multiple: true, class: 'form-control selectpicker '}) %>
          </div>
        </div>
      </div>
    </div>
    <div class="tasks-container">
      <%= f.fields_for :actions do |actions_form| %>
          <div class="task-container">
            <div class="row tarea-mantenimiento">
              TAREA DE MANTENIMIENTO
              <span id="remove-task" class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
              <span id="add-task" class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
            </div>
            <div class="row actividad">
              <div class="col-md-3 accion">
                <%= actions_form.label :action, 'Acción' %>
                <%= actions_form.text_area :action, class:'form-control', rows: 8 %>
              </div>
              <div class="col-md-2 referencia">
                <%= actions_form.label :task_ids, 'Referencia' %>
                <%= actions_form.collection_select('task_ids',  Task.all, :id, :task_number, {}, {multiple: true, class: 'form-control selectpicker'}) %>
              </div>
              <div class="col-md-7 contenedor-tiempo-limite">
                <%= actions_form.fields_for :time_limits do |time_limits_form| %>
                    <div class="time-limit-container">
                      <div class="tiempo-limite">
                        <%= time_limits_form.label :time, 'Limite' %>
                        <%= time_limits_form.text_field :time, class:'form-control' %>
                      </div>
                      <div class="tiempo-limite-unidad">
                        <%= time_limits_form.label :unit_id, 'Unidad' %>
                        <%= time_limits_form.collection_select(:unit_id, Unit.all, :id, :name, {}, {class:'form-control selectpicker show-tick'}) %>
                      </div>
                      <%= time_limits_form.fields_for :over_the_time_limit do |over| %>
                          <div class="tiempo-excedente">
                            <%= over.label :time, 'Excedente' %>
                            <%= over.text_field :time, class: 'form-control' %>
                          </div>
                          <div class="tiempo-excedente-unidad">
                            <%= over.label :unit_id, 'Unidad' %>
                            <%= over.collection_select(:unit_id, Unit.all, :id, :name, {}, {class:'form-control selectpicker show-tick'}) %>
                          </div>
                      <% end %>
                      <div class="inspeccion-previa">
                        <%= time_limits_form.label :inspection_id, 'Condición previa' %>
                        <%= time_limits_form.collection_select(:inspection_id, Inspection.all, :id, :name, {}, {class:'form-control selectpicker show-tick pull-right'}) %>
                      </div>
                      <div class="administrar-tiempo text-center">
                        <span id="add-time-limit" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        <span id="remove-time-limit" class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <%= f.submit 'Guardar',class:'btn_send btn btn-primary' %>
<% end %>

<div class="footer">
  <div class="foot_content">
    <%= link_to @scheduled_inspection do %>
        <span class="glyphicon glyphicon-search"> </span> Mostrar
    <% end %>
    <%= link_to system_scheduled_inspections_path(@scheduled_inspection.system) do %>
        <span class="glyphicon glyphicon-align-justify"> </span> Lista de inspecciones
    <% end %>
  </div>
</div>
