<div class="row my_breadcrumb">
  <ul id="breadcrumb">
    <li>
      <%= link_to aircrafts_path do %>
          <%= @system.aircraft.trade_name %>
      <% end %>
    </li>
    <li>
      <%= link_to aircraft_systems_path(@system.aircraft) do %>
          <%= @system.title %>
      <% end %>
    </li>
    <li>
      <%= link_to '#' do %>
          Lista de inspecciones
      <% end %>
    </li>
  </ul>
</div>

<div class="row inspections_container">
  <div class="col-md-12">
    <div class="inspection_list">
      <div class="row table_head">
        <div class="col-md-6">Nombre</div>
        <div class="col-md-6">Administración</div>
      </div>
      <%= render @scheduled_inspections %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="foot_content">
    <%= link_to  new_system_scheduled_inspection_path(@system) do %>
        <span class="glyphicon glyphicon-plus"></span> Nueva inspección
    <% end %>
  </div>
</div>