<div class="row">
  <div class="col-md-12">
    <h3 class="">PRUEBAS</h3>
    <h5>CREAR UN VUELO</h5>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <%= form_tag create_flight_tests_path do %>
          <div class="form-group">
            <%= label_tag :test_fleet_id, 'Aeronave' %>
            <%= collection_select :test, :fleet_id, @fleets, :id, :aircraft_registration, {}, {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= label_tag :test_times, 'Numero de vuelos' %>
            <%= number_field_tag 'test[times]', '', class:'form-control' %>
          </div>
          <div class="form-group">
            <%= label_tag :test_flight_time, 'Duración' %>
            <%= number_field_tag 'test[flight_time]','' , class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= submit_tag 'Confirmar' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <div class="col-md-12">
    <h5>VIAJAR EN EL TIEMPO</h5>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <%= form_tag create_days_tests_path do %>
            <div class="form-group">
              <%= label_tag :test_fleet_id, 'Aeronave' %>
              <%= collection_select :test, :fleet_id, @fleets, :id, :aircraft_registration, {}, {class: 'form-control'} %>
            </div>
            <div class="form-group">
              <%= label_tag :test_days, 'Duración' %>
              <%= number_field_tag 'test[days]','' , class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= submit_tag 'Confirmar' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>