<div id="modal" class="modal fade modal_show" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Mostrar
      </div>
      <div class="modal-body text-center">
        <br>
        <strong>Descripcion</strong>
        <p><%= life_time_limit.part.description %></p>
        <strong>Numero de parte</strong>
        <p><%= life_time_limit.part.part_number %></p>
        <strong>Tiempo de vida</strong>
        <p><%= life_time_limit.life_limit %> <%= life_time_limit.unit.name %> </p>

        <strong>Alerta</strong>
        <p><%= life_time_limit.alert_before %> <%= life_time_limit.unit.name %> </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>