<div class="side_navbar navbar">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#products">
                <span class="glyphicon glyphicon-home"></span> Almacén
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
              </a>
            </h1>
          </div>
          <div id="products" class="panel-collapse collapse <%= flash[:products] ? flash[:products] : '' %>">
            <div class="panel-body">
              <%= link_to product_units_path do %>
                <i class="fa fa-balance-scale" aria-hidden="true"></i> Unidades <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to products_path do %>
                  <i class="fa fa-book" aria-hidden="true"></i> Catalogo de productos <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to suppliers_path do %>
                <i class="fa fa-ship" aria-hidden="true"></i> Proveedores <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to incoming_movement_types_path do %>
                  <i class="fa fa-share" aria-hidden="true"></i> Tipos de entrada <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to outgoing_movement_types_path do %>
                  <i class="fa fa-reply" aria-hidden="true"></i> Tipos de salida <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to receivers_path do %>
                  <i class="fa fa-users" aria-hidden="true"></i> Destinatarios <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to incoming_movements_path do %>
                  <i class="fa fa-truck" aria-hidden="true"></i> Movimiento de entrada
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to outgoing_movements_path do %>
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i> Movimiento de salida
              <% end %>
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#tools">
                <i class="fa fa-wrench" aria-hidden="true"></i> Taller
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
              </a>
            </h1>
          </div>
          <div id="tools" class="panel-collapse collapse  <%= flash[:tools] ? flash[:tools ] : '' %>">
            <div class="panel-body">
              <%= link_to tools_path do %>
                  <i class="fa fa-book" aria-hidden="true"></i> Catalogo de herramientas <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to incoming_tool_types_path do %>
                  <i class="fa fa-share" aria-hidden="true"></i> Tipos de entrada <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to outgoing_tool_types_path do %>
                  <i class="fa fa-reply" aria-hidden="true"></i> Tipos de salida <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to '#' do %>
                  <i class="fa fa-users" aria-hidden="true"></i> Destinatarios <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to incoming_tools_path do %>
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i> Movimiento de entrada
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to outgoing_tools_path do %>
                  <i class="fa fa-truck" aria-hidden="true"></i> Movimiento de salida
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to borrowed_tools_path do %>
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i> Resguardos
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to returned_tools_path do %>
                  <i class="fa fa-truck" aria-hidden="true"></i> Devoluciones
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to assets_tool_quantities_path do %>
                  <i class="fa fa-home" aria-hidden="true"></i> Activos <i class="fa fa-bar-chart pull-right" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to loaned_tools_list_tool_quantities_path do %>
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Pendientes <i class="fa fa-bar-chart pull-right" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to history_report_tool_quantities_path do %>
                  <i class="fa fa-history" aria-hidden="true"></i> Histórico <i class="fa fa-bar-chart pull-right" aria-hidden="true"></i>
              <% end %>
            </div>

          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#aircrafts">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Catalogo de aeronaves
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
              </a>
            </h6>
          </div>
          <div id="aircrafts" class="panel-collapse collapse  <%= flash[:aircrafts] ? flash[:aircrafts ] : '' %>">
            <div class="panel-body">
              <%= link_to inspections_path do %>
                  <i class="fa fa-list-ol" aria-hidden="true"></i> Inspecciones <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to aircrafts_path do %>
                  <i class="fa fa-plane" aria-hidden="true"></i> Nueva aeronave
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to  tbos_path do %>
                  <i class="fa fa-bell-o" aria-hidden="true"></i></i> Tbo
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to  fluids_path do %>
                  <i class="fa fa-bell-o" aria-hidden="true"></i></i> Cambio de aceite
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to  life_time_limits_path do %>
                  <i class="fa fa-bell-o" aria-hidden="true"></i></i> Tiempo de vida limite
              <% end %>
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#fleet">
                <span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Flota de aeronaves
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
              </a>
            </h6>
          </div>
          <div id="fleet" class="panel-collapse collapse  <%= flash[:fleet] ? flash[:fleet] : '' %>">
            <div class="panel-body">
              <%= link_to fleets_path do %>
                  <i class="fa fa-plane" aria-hidden="true"></i> Ingresar aeronave
              <% end %>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                <span class="glyphicon glyphicon-edit " aria-hidden="true"></span> Vuelos
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
              </a>
            </h6>
          </div>
          <div id="collapse4" class="panel-collapse collapse  <%= flash[:flights] ? flash[:flights] : '' %>">
            <div class="panel-body">
              <%= link_to aircrafts_fleets_path do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i> Registrar vuelo
              <% end %>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#mantenimiento">
                <i class="fa fa-binoculars" aria-hidden="true"></i></span> Inspecciones futuras
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
              </a>
            </h6>
          </div>
          <div id="mantenimiento" class="panel-collapse collapse  <%= flash[:future_inspections] ? flash[:future_inspections] : '' %>">
            <div class="panel-body">
              <%= link_to scheduled_inspections_fleets_path do %>
                  <i class="fa fa-list-ol" aria-hidden="true"></i> Inspecciones programadas  <i class="fa fa-bar-chart pull-right" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to graph_reports_path do %>
                  <i class="fa fa-list-ol" aria-hidden="true"></i> Tareas futuras  <i class="fa fa-bar-chart pull-right" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        </div>



        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#tareas">
                <i class="fa fa-wrench" aria-hidden="true"></i></span> Tareas de mantenimiento
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
              </a>
            </h6>
          </div>
          <div id="tareas" class="panel-collapse collapse  <%= flash[:tasks] ? flash[:tasks] : '' %>">
            <div class="panel-body">
              <%= link_to tbos_fleets_path do %>
                  <i class="fa fa-list-ol" aria-hidden="true"></i> Tbos  <i class="fa fa-bar-chart pull-right" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to tbos_fleets_path do %>
                  <i class="fa fa-list-ol" aria-hidden="true"></i> Cambio de aceites  <i class="fa fa-bar-chart pull-right" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to tbos_fleets_path do %>
                  <i class="fa fa-list-ol" aria-hidden="true"></i> Tiempo de vida limite  <i class="fa fa-bar-chart pull-right" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        </div>



      </div>

</div>

