<div class="side_navbar navbar">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                <span class="glyphicon glyphicon-home"></span> Almacén
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
              </a>
            </h1>
          </div>
          <div id="collapse1" class="panel-collapse collapse <%= add_in_class1(controller_name) %>">
            <div class="panel-body">
              <%= link_to product_units_path do %>
                <i class="fa fa-balance-scale" aria-hidden="true"></i> Unidades <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to products_path do %>
                  <i class="fa fa-book" aria-hidden="true"></i> Catalogo de productos <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to suppliers_path do %>
                <i class="fa fa-ship" aria-hidden="true"></i> Proveedores <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to incoming_movement_types_path do %>
                  <i class="fa fa-share" aria-hidden="true"></i> Tipos de entrada <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to outgoing_movement_types_path do %>
                  <i class="fa fa-reply" aria-hidden="true"></i> Tipos de salida <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to receivers_path do %>
                  <i class="fa fa-users" aria-hidden="true"></i> Destinatarios <i class="fa fa-cog fa-fw pull-right"></i>
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to incoming_movements_path do %>
                  <i class="fa fa-truck" aria-hidden="true"></i> Movimiento de entrada
              <% end %>
            </div>
            <div class="panel-body">
              <%= link_to outgoing_movements_path do %>
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i> Movimiento de salida
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Catalogo de aeronaves
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
              </a>
            </h6>
          </div>
          <div id="collapse2" class="panel-collapse collapse <%= add_in_class2(controller_name) %>">
            <div class="panel-body">
              <%= link_to aircrafts_path do %>
                  <i class="fa fa-plane" aria-hidden="true"></i> Nueva aeronave
              <% end %>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                <span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Flota de aeronaves
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
              </a>
            </h6>
          </div>
          <div id="collapse3" class="panel-collapse collapse <%= add_in_class3(controller_name) %>">
            <div class="panel-body">
              <%= link_to fleets_path do %>
                  <i class="fa fa-plane" aria-hidden="true"></i> Ingresar aeronave
              <% end %>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                <span class="glyphicon glyphicon-edit " aria-hidden="true"></span> Vuelos
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
              </a>
            </h6>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              <%= link_to aircrafts_fleets_path do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i> Registrar vuelo
              <% end %>
            </div>
          </div>
        </div>
      </div>

</div>

